(app_proxy) {
	reverse_proxy app:3000 {
		flush_interval -1
		transport http {
			dial_timeout 10s
			response_header_timeout 5m
		}
	}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	handle {
		import app_proxy
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	log {
		output stdout
		format console
	}
}
